/* THis is how to comment */

h1 {
    color: #ff0000;
    /*
    border-color: purple;
    border-width: 5px;
    border-style: solid;
    */
    border: 8px dotted rgb(100, 0, 100);
}

h2 {
    color: rgb(100, 0, 100)
}

h3 {
    background: rgba(200, 80, 0, .6);
    color: yellow;
}

body {
    background: gray;
}

div {
    background: #3498db;
    border: 3px dotted limegreen;
}

p {
    color: #ecf0f1;
}

h4 {
    background: rgb(200, 80, 0);
    color: yellow;
}

li {
    color: white;
}