body {
    background: rgb(34, 194, 114)
}

h1 {
    color: rgb(117, 28, 243);
}

div {
    border-style: ridge;
    border-color: rgb(33, 44, 204);
}

h2 {
    background: rgb(117, 28, 243);
    color: white;
}

ul {
    background: white;
}

/* this is how we consolidated the styling into one class */
.special {
    color: rgb(33, 40, 204);
    border: 2px dotted rgb(117, 28, 243);
    background: yellow;
}

/* each id only used once per selection 
#special {
    background: yellow;
}
*/

/* each class can be used more than once
.special {
    background: yellow;
}
*/